psycopg2-binary
fastapi[standard]
uvicorn[standard]
sqlalchemy
pydantic
alembic
python-dotenv
httpx
pytest
databases[postgresql]
pytest-asyncio
uvicorn[standard]
requests
pytest-cov
coverage
pytest
pytest-mock
pytest-asyncio
bcrypt
jwt
langchain[google-genai]
langchain-google-vertexai
langchain-google-genai
pypdf>=6.2.0
